<br>
<h2 style="margin-right: 25%; margin-left: 25%">Add new event</h2>
<br>
<div>
  <form style="margin-left: 25%; margin-right: 25%">
    <div class="form-group">
      <label for="exampleFormControlInput1">Band name</label>
      <input #bandName type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{event.band}}" value="{{event.band}}">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">City</label>
      <input #city type="email" class="form-control" value="{{event.city}}">

    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea #description class="form-control" id="exampleFormControlTextarea1" rows="3" >{{event.description}}</textarea>
    </div>
    <button (click)="updateEvent(bandName.value, city.value, description.value)" type="button" class="btn btn-primary">Update</button>
    <button (click)="goBack()" type="button" class="btn btn-primary">Go back</button>
  </form>
</div>
