<h2> List of events</h2>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Band Name" aria-label="Recipient's username" aria-describedby="button-addon2" #bandName>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="getBandConcerts(bandName.value); bandName.value = ''">Search</button>
  </div>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let event of events">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{event.band}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Index: {{event.id}}</h6>
        <p class="card-text">{{event.date}}</p>
        <nav>
        <a routerLink= "/details/{{event.id}}" >See the details</a>
        </nav>
      </div>
    </div>

  </li>
</ul>
